/*цвет основного текста #212121 */
/*вторичный цвет текста #757575 */
/* цвет телефона и почты в футере  rgba(255, 255, 255, 0.6); */
/*белый #FFFFFF */
/*синий #2196F3 */
/* фон темный  #2F303A */
/* цвет фона секции чем занимаемся #E5E5E5 *
/* цвет фона секции команда #F5F4FA */
:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --text-white-color: #ffffff;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --bg-white: #ffffff;
  --bg-navyblue: #2f303a;
  --bg-primery-pf: #e5e5e5;
  --bg-secondary: #f5f4fa;
}
body {
  color: var(--primery-text-color);
  background-color: var(--bg-white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* списки */
ul {
  list-style: none;
}
/* ссылки */
a {
  color: var(--title-text-color);
  text-decoration: none;
  /* header */
}
/* .header {
  
} */
/* Лого */
.logo {
  color: var(--primery-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-text {
  color: var(--accent-color);
}
/* site-nav */
.site-nav,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--primery-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--bg-navyblue);
  letter-spacing: 0.06em;
}
.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

/* Advantage */
/* .advantage {
} */
.advantage .notitle {
  color: #ffffff;
}
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* Work */
/* .work {
 
} */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* .work-box {
} */
/* Team */
.team {
  background-color: var(--bg-secondary);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-function {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Footer */
.footer {
  background-color: var(--bg-navyblue);
}
.footer .logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer .logo,
.footer .address {
  color: var(--text-white-color);
}
.footer .address,
.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer .link {
  color: var(--text-footer-color);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
/* Portfolio */
/* Buttons */
/* .radio-buttons {
} */
.btn {
  background-color: var(--bg-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}
.btn:hover,
.btn:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}
/* Content */
/* .content {
} */
.content-title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
